body {
    background-color: cornsilk;
}
.ovl-prvky:hover {
    cursor: pointer;
    opacity: 0.4;
}
#canvas {
    display: block;
    margin: 20px auto;
    background-color: white;
    border: 3px solid gray;
}